/* screen - desktop-1 */

.desktop-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5874px;
  justify-content: center;
  overflow: hidden;
  width: 1920px;
}

.desktop-1 .overlap-group1 {
  height: 5884px;
  margin-top: -10px;
  position: relative;
  width: 1940px;
}

.desktop-1 .rectangle-13 {
  background-color: #0e0e0e;
  height: 5874px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 1920px;
}

.desktop-1 .ellipse-1 {
  height: 1491px;
  left: 238px;
  position: absolute;
  top: 281px;
  width: 1491px;
}

.desktop-1 .shapes-1 {
  height: 953px;
  left: 297px;
  mix-blend-mode: overlay;
  object-fit: cover;
  position: absolute;
  top: 828px;
  width: 1329px;
}

.desktop-1 .countdown-1 {
  height: 1080px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 1920px;
}

.desktop-1 .text-25 {
  color: var(--white);
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 66px;
  font-weight: 400;
  left: 702px;
  letter-spacing: 0;
  position: absolute;
  top: 866px;
}

.desktop-1 .ganghouse-opne {
  color: #ffffff80;
  font-family: var(--font-family-raleway-light);
  font-size: 25px;
  font-weight: 300;
  left: 706px;
  letter-spacing: 23.00px;
  position: absolute;
  top: 814px;
}

.desktop-1 .lyquid {
  left: 982px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 3411px;
  white-space: nowrap;
}

.desktop-1 .cloud-x {
  left: 982px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 3725px;
  white-space: nowrap;
}

.desktop-1 .staut {
  left: 982px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 3568px;
  white-space: nowrap;
}

.desktop-1 .red-pool {
  left: 982px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 3882px;
  white-space: nowrap;
}

.desktop-1 .text-26 {
  left: 370px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 3216px;
  white-space: nowrap;
}

.desktop-1 .avatars {
  color: var(--white);
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 48px;
  font-weight: 400;
  left: 370px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 3107px;
  white-space: nowrap;
  width: 1200px;
}

.desktop-1 .a-tiny-piece-of-grai {
  left: 370px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 1368px;
  width: 894px;
}

.desktop-1 .a-tiny-piece-of-grai-1 {
  left: 916px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 2313px;
  width: 686px;
}

.desktop-1 .frame-6 {
  -webkit-backdrop-filter: blur(34px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(34px) brightness(100%);
  background-color: #0d0d0d;
  border-radius: 20px;
  display: flex;
  height: 411px;
  justify-content: center;
  left: 370px;
  min-width: 411px;
  position: absolute;
  top: 2242px;
}

.desktop-1 .ellipse-2 {
  height: 1099px;
  margin-top: -344px;
  width: 1099px;
}

.desktop-1 .kakao-talk_-photo_2021-12-02-13-40-36-1 {
  height: 503px;
  left: 418px;
  object-fit: cover;
  position: absolute;
  top: 2336px;
  width: 405px;
}

.desktop-1 .address {
  color: #ff7a00;
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 48px;
  font-weight: 400;
  left: 985px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 3294px;
  white-space: nowrap;
}

.desktop-1 .alchol-planet {
  color: var(--white);
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 91px;
  font-weight: 400;
  left: 370px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 1223px;
  white-space: nowrap;
}

.desktop-1 .beergang {
  color: var(--white);
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 91px;
  font-weight: 400;
  left: 370px;
  letter-spacing: 0;
  line-height: 116.5px;
  position: absolute;
  top: 2125px;
  white-space: nowrap;
}

.desktop-1 .address-1 {
  left: 373px;
  letter-spacing: 0;
  line-height: 27.7px;
  position: absolute;
  top: 3365px;
  width: 412px;
}

.desktop-1 .frame-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 340px;
  min-height: 628px;
  padding: 20px;
  position: absolute;
  top: 4156px;
  width: 342px;
}

.desktop-1 .image-5 {
  align-self: center;
  height: 282px;
  margin-top: 10px;
  object-fit: cover;
  width: 282px;
}

.desktop-1 .overlap-group {
  background-image: url(../img/rectangle-18@2x.svg);
  background-size: 100% 100%;
  height: 282px;
  margin-top: 14px;
  position: relative;
  width: 282px;
}

.desktop-1 .rectangle-19 {
  border: 3px solid #370505;
  border-radius: 10px;
  height: 254px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 254px;
}

.desktop-1 .lyquid-1 {
  color: #290303;
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 34px;
  font-weight: 400;
  height: 42px;
  left: 44px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.desktop-1 .alc-53 {
  color: #290303;
  font-family: var(--font-family-raleway-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 42px;
  left: 44px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 214px;
  white-space: nowrap;
}

.desktop-1 .rectangle-20 {
  background-color: #370505;
  height: 3px;
  left: 15px;
  position: absolute;
  top: 203px;
  width: 252px;
}

.desktop-1 .group-2 {
  height: 282px;
  left: 0;
  position: absolute;
  top: 0;
  width: 282px;
}

.desktop-1 .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 676px;
  min-height: 576px;
  position: absolute;
  top: 4311px;
  width: 282px;
}

.desktop-1 .image {
  height: 282px;
  object-fit: cover;
  width: 282px;
}

.desktop-1 .overlap-group-1 {
  background-image: url(../img/rectangle-18-1@2x.svg);
  background-size: 100% 100%;
  height: 282px;
  margin-top: 12px;
  position: relative;
  width: 282px;
}

.desktop-1 .rectangle-19-1 {
  border: 3px solid #734b1b;
  border-radius: 10px;
  height: 254px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 254px;
}

.desktop-1 .staut-1 {
  color: var(--white);
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 34px;
  font-weight: 400;
  height: 42px;
  left: 44px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.desktop-1 .alc {
  color: var(--white);
  font-family: var(--font-family-raleway-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 42px;
  left: 44px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 214px;
  white-space: nowrap;
}

.desktop-1 .rectangle-20-1 {
  background-color: #744b1c;
  height: 3px;
  left: 15px;
  position: absolute;
  top: 203px;
  width: 251px;
}

.desktop-1 .frame-6-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 982px;
  min-height: 576px;
  position: absolute;
  top: 4186px;
  width: 282px;
}

.desktop-1 .overlap-group-2 {
  background-image: url(../img/rectangle-18-2@2x.svg);
  background-size: 100% 100%;
  height: 282px;
  margin-top: 12px;
  position: relative;
  width: 282px;
}

.desktop-1 .rectangle-19-2 {
  border: 3px solid #1a2e33;
  border-radius: 10px;
  height: 254px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 254px;
}

.desktop-1 .cloud-x-1 {
  color: #0d181a;
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 34px;
  font-weight: 400;
  height: 42px;
  left: 44px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.desktop-1 .alc-58 {
  color: #1b2f33;
  font-family: var(--font-family-raleway-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 42px;
  left: 44px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 214px;
  white-space: nowrap;
}

.desktop-1 .rectangle-20-2 {
  background-color: #1b2f33;
  height: 3px;
  left: 15px;
  position: absolute;
  top: 203px;
  width: 252px;
}

.desktop-1 .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1288px;
  min-height: 576px;
  position: absolute;
  top: 4311px;
  width: 282px;
}

.desktop-1 .overlap-group-3 {
  background-image: url(../img/rectangle-18-3@2x.svg);
  background-size: 100% 100%;
  height: 282px;
  margin-top: 12px;
  position: relative;
  width: 282px;
}

.desktop-1 .rectangle-19-3 {
  border: 3px solid var(--white);
  border-radius: 10px;
  height: 254px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 254px;
}

.desktop-1 .red-pool-1 {
  color: var(--white);
  font-family: var(--font-family-fugaz_one-regular);
  font-size: 34px;
  font-weight: 400;
  height: 42px;
  left: 44px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.desktop-1 .rectangle-20-3 {
  background-color: var(--white);
  height: 3px;
  left: 15px;
  position: absolute;
  top: 203px;
  width: 251px;
}

.desktop-1 .x06-bottle-cap-mock-up-1 {
  height: 542px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 2676px;
  width: 542px;
}

.desktop-1 .ellipse-3 {
  height: 268px;
  left: 844px;
  position: absolute;
  top: 2839px;
  width: 294px;
}
