/* screen - gglabswebhome */

.gglabswebhome {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 7238px;
  overflow: hidden;
  width: 1920px;
}

.gglabswebhome .overlap-group13 {
  height: 7939px;
  margin-top: 0;
  position: relative;
  width: 1920px;
}

.gglabswebhome .rectangle-28 {
  background-color: var(--woodsmoke);
  height: 6861px;
  left: 0;
  position: absolute;
  top: 1078px;
  width: 1920px;
}

.gglabswebhome .group-135 {
  align-items: flex-start;
  background-color: var(--wild-sand);
  display: flex;
  height: 288px;
  left: 0;
  min-width: 1920px;
  padding: 0 360px;
  position: absolute;
  top: 6950px;
}

.gglabswebhome .flex-row {
  align-items: flex-start;
  background-color: var(--mist-gray);
  display: flex;
  height: 288px;
  min-width: 1200px;
  padding: 52px 0;
}

.gglabswebhome .labs-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 77px;
  width: 308px;
}

.gglabswebhome .logog-glabsmain {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-width: 150px;
}

.gglabswebhome .vector {
  height: 44px;
  width: 65px;
}

.gglabswebhome .group {
  background-image: url(../img/union-1@2x.png);
  background-size: 100% 100%;
  height: 36px;
  margin-bottom: 0.51px;
  margin-left: 6px;
  width: 79px;
}

.gglabswebhome .x2021-good-gang-labs {
  letter-spacing: 0;
  margin-top: 15px;
  min-height: 18px;
}

.gglabswebhome .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 674px;
  margin-top: 6px;
  min-height: 104px;
  width: 218px;
}

.gglabswebhome .hellogoodganglabscom {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 218px;
}

.gglabswebhome .privacy-policy {
  letter-spacing: 0;
  margin-right: 1px;
  margin-top: 16px;
  min-height: 24px;
  min-width: 113px;
}

.gglabswebhome .terms-conditions {
  letter-spacing: 0;
  margin-right: 1px;
  margin-top: 16px;
  min-height: 24px;
  min-width: 160px;
}

.gglabswebhome .group-164 {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.gglabswebhome .we-are-gg-labs {
  left: 360px;
  letter-spacing: -1.80px;
  line-height: 100px;
  position: absolute;
  top: 5880px;
}

.gglabswebhome .want-to-join-our-ete {
  left: 870px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  top: 6047px;
  width: 690px;
}

.gglabswebhome .span1 {
  color: var(--santas-gray);
  font-family: var(--font-family-poppins-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.gglabswebhome .group-165 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 360px;
  min-height: 1009px;
  position: absolute;
  top: 2906px;
  width: 1202px;
}

.gglabswebhome .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 897px;
  margin-right: 2px;
  min-width: 1200px;
}

.gglabswebhome .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 880px;
  width: 588px;
}

.gglabswebhome .project {
  letter-spacing: -1.80px;
  line-height: 130px;
  min-height: 130px;
  white-space: nowrap;
}

.gglabswebhome .img_avatar_lyquid {
  height: 588px;
  margin-top: 50px;
  width: 588px;
}

.gglabswebhome .overlap-group-2 {
  align-items: center;
  background-color: var(--mist-gray);
  display: flex;
  height: 82px;
  margin-top: 30px;
  min-width: 588px;
}

.gglabswebhome .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 82px;
  width: 466px;
}

.gglabswebhome .beergang {
  letter-spacing: -0.76px;
  line-height: 56px;
  min-height: 56px;
  white-space: nowrap;
}

.gglabswebhome .an-nft-avatar-collection {
  letter-spacing: -0.36px;
  line-height: 24px;
  margin-top: 2px;
  min-height: 24px;
  text-shadow: -12px 0px 9px #5530301f;
  white-space: nowrap;
}

.gglabswebhome .img_arrow {
  height: 42px;
  margin-left: 46px;
  width: 76px;
}

.gglabswebhome .img_avatar_lyquid-1 {
  align-self: flex-end;
  height: 588px;
  margin-left: 24px;
  width: 588px;
}

.gglabswebhome .overlap-group1 {
  background-color: var(--mist-gray);
  height: 82px;
  margin-right: 2px;
  margin-top: 30px;
  position: relative;
  width: 588px;
}

.gglabswebhome .overlap-group2 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 588px;
}

.gglabswebhome .overlap-group-3 {
  align-items: flex-start;
  border-radius: 36px;
  display: flex;
  height: 40px;
  left: 425px;
  min-width: 163px;
  padding: 5px 15px;
  position: absolute;
  top: 0;
}

.gglabswebhome .coming-soon {
  letter-spacing: -0.32px;
  line-height: 28px;
  min-height: 28px;
  text-shadow: -12px 0px 9px #5530301f;
  white-space: nowrap;
}

.gglabswebhome .a-private-3-d-metaverse-pub {
  left: 0;
  letter-spacing: -0.36px;
  line-height: 24px;
  position: absolute;
  text-shadow: -12px 0px 9px #5530301f;
  top: 37px;
  white-space: nowrap;
  width: 466px;
}

.gglabswebhome .gang-house {
  left: 0;
  letter-spacing: -0.76px;
  line-height: 56px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.gglabswebhome .contact-us {
  left: 870px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 5995px;
  white-space: nowrap;
  width: 327px;
}

.gglabswebhome .group-197 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 870px;
  min-height: 226px;
  position: absolute;
  top: 6231px;
  width: 701px;
}

.gglabswebhome .social-media {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .please-follow-our-so {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 16px;
  min-height: 88px;
  width: 697px;
}

.gglabswebhome .group-container {
  align-items: flex-start;
  display: flex;
  margin-top: 18px;
  min-width: 168px;
}

.gglabswebhome .group-35 {
  align-items: center;
  background-color: var(--blue-jeans);
  border-radius: 2px;
  display: flex;
  height: 68px;
  min-width: 78px;
  padding: 0 19px;
}

.gglabswebhome .iconsns {
  height: 40px;
  width: 40px;
}

.gglabswebhome .group-34 {
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 2px;
  display: flex;
  height: 68px;
  margin-left: 12px;
  min-width: 78px;
  padding: 0 19px;
}

.gglabswebhome .group-140 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 360px;
  min-height: 292px;
  position: absolute;
  top: 1272px;
  width: 1206px;
}

.gglabswebhome .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 132px;
  margin-right: 6.0px;
  min-width: 740px;
}

.gglabswebhome .surname {
  letter-spacing: -2.44px;
  line-height: 132px;
  min-height: 132px;
  min-width: 367px;
  white-space: nowrap;
}

.gglabswebhome .gang {
  letter-spacing: -2.44px;
  line-height: 132px;
  margin-left: 10px;
  min-height: 132px;
  white-space: nowrap;
}

.gglabswebhome .to-change-the-world {
  letter-spacing: 0;
  line-height: 44px;
  margin-right: 6.0px;
  margin-top: 28px;
  min-height: 132px;
  text-align: center;
  width: 1200px;
}

.gglabswebhome .group-163 {
  align-items: flex-start;
  display: flex;
  height: 918px;
  left: 360px;
  min-width: 1200px;
  position: absolute;
  top: 1709px;
}

.gglabswebhome .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 707px;
  width: 486px;
}

.gglabswebhome .are-you-ready-to-be {
  color: var(--mercury);
  font-family: var(--font-family-poppins-light);
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0;
  margin-left: 8px;
  min-height: 300px;
  width: 448px;
}

.gglabswebhome .overlap-group-4 {
  height: 364px;
  margin-top: 43px;
  position: relative;
  width: 486px;
}

.gglabswebhome .rectangle-92 {
  height: 320px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 486px;
}

.gglabswebhome .build-a-good-web-30 {
  left: 40px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 174px;
  width: 406px;
}

.gglabswebhome .text-37 {
  left: 40px;
  letter-spacing: 0;
  line-height: 110px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.gglabswebhome .group-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 741px;
  width: 690px;
}

.gglabswebhome .overlap-group1-1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-93-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 383px;
  padding: 40px 0;
  width: 690px;
}

.gglabswebhome .overlap-group-5 {
  border-radius: 53px;
  height: 54px;
  margin-left: 40px;
  position: relative;
  width: 167px;
}

.gglabswebhome .place {
  left: 19px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.gglabswebhome .rectangle-75 {
  border-radius: 53px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 167px;
}

.gglabswebhome .make-the-world-fun-a {
  align-self: center;
  letter-spacing: 0;
  line-height: 51px;
  margin-top: 24px;
  min-height: 204px;
  width: 610px;
}

.gglabswebhome .group-149 {
  height: 334px;
  margin-top: 24px;
  width: 690px;
}

.gglabswebhome .group-169 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 360px;
  min-height: 1325px;
  position: absolute;
  top: 4235px;
  width: 1204px;
}

.gglabswebhome .the-team {
  letter-spacing: -1.80px;
  line-height: 130px;
  min-height: 130px;
  white-space: nowrap;
}

.gglabswebhome .good-gang-labs-is-mad {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 22px;
  min-height: 176px;
  width: 1200px;
}

.gglabswebhome .group-168 {
  align-items: flex-start;
  display: flex;
  height: 947px;
  margin-top: 50px;
  min-width: 1200px;
}

.gglabswebhome .overlap-group-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  min-height: 885px;
  width: 384px;
}

.gglabswebhome .overlap-group {
  height: 207px;
  position: relative;
  width: 384px;
}

.gglabswebhome .frame-3 {
  align-items: flex-start;
  background-color: var(--woodsmoke);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 184px;
  padding: 32px 0;
  position: absolute;
  top: 23px;
  width: 384px;
}

.gglabswebhome .my-hot-burger-owner {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 26px;
  margin-top: 8px;
  min-height: 28px;
  white-space: nowrap;
}

.gglabswebhome .frame-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 66px;
  width: 332px;
}

.gglabswebhome .name {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .desire-to-make-the-h {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 6px;
  min-height: 24px;
  white-space: nowrap;
}

.gglabswebhome .text {
  left: 26px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.gglabswebhome .overlap-group-1 {
  height: 207px;
  margin-top: 19px;
  position: relative;
  width: 384px;
}

.gglabswebhome .patty-boop {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .patty-boop-1 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .patty-boop-2 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 885px;
  width: 384px;
}

.gglabswebhome .patty-boop-3 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .text-4 {
  left: 26px;
  letter-spacing: 0;
  line-height: 46px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.gglabswebhome .patty-boop-4 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .patty-boop-5 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .patty-boop-6 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .overlap-group-container-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 88.0px;
  margin-left: 24px;
  min-height: 733px;
  width: 384px;
}

.gglabswebhome .overlap-group5 {
  height: 255px;
  position: relative;
  width: 384px;
}

.gglabswebhome .frame-3-1 {
  align-items: flex-start;
  background-color: var(--woodsmoke);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 232px;
  padding: 32px 0;
  position: absolute;
  top: 23px;
  width: 384px;
}

.gglabswebhome .frame-1-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 114px;
  width: 332px;
}

.gglabswebhome .patty-boop-7 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .desire-to-make-the-h-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 6px;
  min-height: 72px;
  width: 332px;
}

.gglabswebhome .overlap-group8 {
  height: 231px;
  margin-top: 20px;
  position: relative;
  width: 384px;
}

.gglabswebhome .frame-3-2 {
  align-items: flex-start;
  background-color: var(--woodsmoke);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 208px;
  padding: 32px 0;
  position: absolute;
  top: 23px;
  width: 384px;
}

.gglabswebhome .frame-1-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 90px;
  width: 332px;
}

.gglabswebhome .patty-boop-8 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .desire-to-make-the-h-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 6px;
  min-height: 48px;
  width: 332px;
}

.gglabswebhome .overlap-group2-1 {
  height: 207px;
  margin-top: 20px;
  position: relative;
  width: 384px;
}

.gglabswebhome .patty-boop-9 {
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.gglabswebhome .group-149-1 {
  align-items: flex-start;
  border-radius: 115px;
  display: flex;
  height: 230px;
  left: 1318px;
  min-width: 230px;
  opacity: 0.1;
  padding: 13.0px 13.0px;
  position: absolute;
  top: 5765px;
}

.gglabswebhome .overlap-group11 {
  height: 204px;
  position: relative;
  width: 204px;
}

.gglabswebhome .ellipse-12 {
  border-radius: 81px;
  height: 162px;
  left: 21px;
  position: absolute;
  top: 21px;
  width: 162px;
}

.gglabswebhome .group-1 {
  height: 204px;
  left: 0;
  position: absolute;
  top: 0;
  width: 204px;
}

.gglabswebhome .logog-glabssymbol {
  height: 74px;
  left: 47px;
  position: absolute;
  top: 65px;
  width: 110px;
}

.gglabswebhome .overlap-group12 {
  align-items: flex-start;
  background-color: var(--purple-heart);
  background-image: url(../img/group-195-1@2x.png);
  background-size: 100% 100%;
  border-radius: 16px;
  display: flex;
  height: 156px;
  justify-content: flex-end;
  left: 869px;
  min-width: 690px;
  padding: 27px 51px;
  position: absolute;
  top: 6560px;
}

.gglabswebhome .were-hiring {
  color: var(--white);
  font-family: var(--font-family-poppins-extrabold);
  font-size: 47px;
  font-weight: 800;
  letter-spacing: -0.94px;
  line-height: 100px;
  min-height: 100px;
  min-width: 311px;
  white-space: nowrap;
}

.gglabswebhome .img_arrow-1 {
  align-self: center;
  height: 42px;
  margin-bottom: 2.0px;
  margin-left: 92px;
  width: 76px;
}
