:root { 
  --black: #000000;
  --blue-jeans: #4fa5f1;
  --mercury: #e4e4e7;
  --purple-heart: #6038ff;
  --razzmatazz: #e2296f;
  --santas-gray: #a1a1aa;
  --screamin-green: #84fb72;
  --sonic-silver: #71717a;
  --white: #ffffff;
  --woodsmoke: #0f0f0f;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 18px;
  --font-size-xxl: 22px;
  --font-size-xxxl: 24px;
  --font-size-xxxxl: 28px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-bold-white-28px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-sonic-silver-14px {
  color: var(--sonic-silver);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-light-santas-gray-14px {
  color: var(--santas-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.poppins-normal-sonic-silver-12px {
  color: var(--sonic-silver);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-white-42px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-purple-heart-16px {
  color: var(--purple-heart);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-screamin-green-16px {
  color: var(--screamin-green);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.poppins-light-santas-gray-16px {
  color: var(--santas-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.poppins-bold-purple-heart-12px {
  color: var(--purple-heart);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-screamin-green-12px {
  color: var(--screamin-green);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.poppins-light-santas-gray-24px {
  color: var(--santas-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.poppins-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.poppins-extra-bold-white-60px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 60px;
  font-style: italic;
  font-weight: 800;
}

.poppins-extra-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
}

.poppins-extra-bold-white-90px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 90px;
  font-style: italic;
  font-weight: 800;
}

.poppins-normal-sonic-silver-10px {
  color: var(--sonic-silver);
  font-family: var(--font-family-poppins);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-white-38px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
}

.poppins-light-santas-gray-18px {
  color: var(--santas-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.border-1px-purple-heart {
  border: 1px solid var(--purple-heart);
}

.border-1px-screamin-green {
  border: 1px solid var(--screamin-green);
}

.border-1px-santas-gray {
  border: 1px solid var(--santas-gray);
}

.border-1px-white {
  border: 1px solid var(--white);
}

.border-4px-white {
  border: 4px solid var(--white);
}
