/* screen - terms-desktop-home-layout */

.terms-desktop-home-layout {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3060px;
  overflow: hidden;
  width: 1920px;
}

.terms-desktop-home-layout .overlap-group {
  height: 3081px;
  position: relative;
  width: 1920px;
}

.terms-desktop-home-layout .rectangle-13 {
  background-color: var(--woodsmoke-2);
  height: 3060px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.terms-desktop-home-layout .frame-176 {
  display: flex;
  height: 190px;
  left: 342px;
  position: absolute;
  top: 76px;
  width: 659px;
}

.terms-desktop-home-layout .terms-conditions {
  height: 180px;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: 462px;
}

.terms-desktop-home-layout .frame-177 {
  display: flex;
  height: 2324px;
  left: 344px;
  position: absolute;
  top: 273px;
  width: 1220px;
}

.terms-desktop-home-layout .last-updated-janua {
  height: 2304px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 10px;
  width: 1200px;
}

.terms-desktop-home-layout .group-135 {
  background-color: var(--wild-sand);
  display: flex;
  height: 288px;
  left: 0;
  position: absolute;
  top: 2793px;
  width: 1920px;
}

.terms-desktop-home-layout .group-53 {
  align-items: flex-start;
  display: flex;
  height: 288px;
  margin-left: 360px;
  min-width: 1208px;
  padding: 52px 0;
}

.terms-desktop-home-layout .labs-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 77px;
  width: 308px;
}

.terms-desktop-home-layout .logog-glabsmain {
  display: flex;
  height: 44px;
  width: 150px;
}

.terms-desktop-home-layout .group-22 {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 150px;
}

.terms-desktop-home-layout .vector {
  height: 44px;
  width: 66px;
}

.terms-desktop-home-layout .group {
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  height: 36px;
  margin-bottom: 0.51px;
  margin-left: 6px;
  width: 79px;
}

.terms-desktop-home-layout .x2021-good-gang-labs {
  letter-spacing: 0;
  margin-top: 15px;
  min-height: 18px;
}

.terms-desktop-home-layout .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 674px;
  margin-top: 6px;
  min-height: 104px;
  width: 218px;
}

.terms-desktop-home-layout .hellogoodganglabscom {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 24px;
  min-width: 218px;
  text-decoration: underline;
}

.terms-desktop-home-layout .privacy-policy {
  letter-spacing: 0;
  margin-right: 1px;
  margin-top: 16px;
  min-height: 24px;
  min-width: 113px;
}

.terms-desktop-home-layout .terms-conditions-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-right: 1px;
  margin-top: 16px;
  min-height: 24px;
  min-width: 160px;
  text-decoration: underline;
}
/* screen - terms-mobile-home-layout */

.terms-mobile-home-layout {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 360px;
}

.terms-mobile-home-layout .overlap-group2 {
  height: 5999px;
  position: relative;
  width: 392px;
}

.terms-mobile-home-layout .rectangle-13-1 {
  background-color: var(--woodsmoke-2);
  height: 5999px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.terms-mobile-home-layout .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 275px;
  padding: 22px 0;
  position: absolute;
  top: 5724px;
  width: 360px;
}

.terms-mobile-home-layout .hellogoodganglabscom-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-right: 20px;
  min-height: 18px;
  min-width: 163px;
  text-align: right;
  text-decoration: underline;
}

.terms-mobile-home-layout .privacy-policy-1 {
  letter-spacing: 0;
  margin-right: 20px;
  margin-top: 14px;
  min-height: 18px;
  min-width: 85px;
  text-align: right;
}

.terms-mobile-home-layout .terms-conditions-2 {
  cursor: pointer;
  letter-spacing: 0;
  margin-right: 20px;
  margin-top: 14px;
  min-height: 18px;
  min-width: 120px;
  text-align: right;
  text-decoration: underline;
}

.terms-mobile-home-layout .logog-glabsmain-1 {
  align-self: flex-start;
  display: flex;
  height: 35px;
  margin-left: 20px;
  margin-top: 88px;
  width: 120px;
}

.terms-mobile-home-layout .group-22-1 {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 120px;
}

.terms-mobile-home-layout .vector-1 {
  height: 35px;
  width: 52px;
}

.terms-mobile-home-layout .union {
  height: 30px;
  margin-bottom: 0.41px;
  margin-left: 4px;
  width: 64px;
}

.terms-mobile-home-layout .x2021-good-gang-labs-1 {
  align-self: flex-start;
  color: var(--santas-gray);
  font-family: var(--font-family-poppins);
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 20px;
  margin-top: 8px;
  min-height: 14px;
}

.terms-mobile-home-layout .group-149 {
  align-items: flex-start;
  border-radius: 68px;
  display: flex;
  height: 136px;
  left: 256px;
  min-width: 136px;
  opacity: 0.1;
  padding: 7.5px 7.5px;
  position: absolute;
  top: 5006px;
}

.terms-mobile-home-layout .overlap-group1 {
  height: 121px;
  position: relative;
  width: 121px;
}

.terms-mobile-home-layout .ellipse-12 {
  border-radius: 47.9px;
  height: 96px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 96px;
}

.terms-mobile-home-layout .group-1 {
  height: 121px;
  left: 0;
  position: absolute;
  top: 0;
  width: 121px;
}

.terms-mobile-home-layout .logog-glabssymbol {
  height: 44px;
  left: 28px;
  position: absolute;
  top: 39px;
  width: 66px;
}

.terms-mobile-home-layout .frame-176-1 {
  display: flex;
  flex-direction: column;
  height: 215px;
  left: 29px;
  position: absolute;
  top: 89px;
  width: 299px;
}

.terms-mobile-home-layout .terms-conditions-3 {
  height: 301px;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: 342px;
}

.terms-mobile-home-layout .frame-177-1 {
  display: flex;
  height: 5422px;
  margin-left: 10px;
  margin-top: 10px;
  width: 275px;
}

.terms-mobile-home-layout .last-updated-janua-1 {
  height: 4387px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 10px;
  width: 279px;
}
/* screen - terms-pad-home-layout */

.terms-pad-home-layout {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 4158px;
  overflow: hidden;
  width: 768px;
}

.terms-pad-home-layout .overlap-group1-1 {
  height: 5539px;
  position: relative;
  width: 774px;
}

.terms-pad-home-layout .rectangle-13-2 {
  background-color: var(--woodsmoke-2);
  height: 3870px;
  left: 0;
  position: absolute;
  top: 0;
  width: 768px;
}

.terms-pad-home-layout .frame-177-2 {
  display: flex;
  height: 5245px;
  left: 32px;
  position: absolute;
  top: 294px;
  width: 716px;
}

.terms-pad-home-layout .last-updated-janua-2 {
  height: 5006px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 10px;
  width: 706px;
}

.terms-pad-home-layout .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--wild-sand);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 288px;
  padding: 30px 0;
  position: absolute;
  top: 3870px;
  width: 768px;
}

.terms-pad-home-layout .hellogoodganglabscom-2 {
  cursor: pointer;
  letter-spacing: 0;
  margin-right: 50px;
  min-height: 24px;
  min-width: 218px;
  text-decoration: underline;
}

.terms-pad-home-layout .privacy-policy-2 {
  letter-spacing: 0;
  margin-right: 51px;
  margin-top: 16px;
  min-height: 24px;
  min-width: 113px;
}

.terms-pad-home-layout .terms-conditions-4 {
  cursor: pointer;
  letter-spacing: 0;
  margin-right: 51px;
  margin-top: 16px;
  min-height: 24px;
  min-width: 160px;
  text-decoration: underline;
}

.terms-pad-home-layout .group-53-1 {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 50px;
  margin-top: 38px;
  width: 310px;
}

.terms-pad-home-layout .logog-glabsmain-2 {
  display: flex;
  height: 44px;
  width: 150px;
}

.terms-pad-home-layout .group-22-2 {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 150px;
}

.terms-pad-home-layout .vector-2 {
  height: 44px;
  width: 66px;
}

.terms-pad-home-layout .group-2 {
  background-image: url(../img/union@2x.png);
  background-size: 100% 100%;
  height: 36px;
  margin-bottom: 0.51px;
  margin-left: 6px;
  width: 79px;
}

.terms-pad-home-layout .x2021-good-gang-labs-2 {
  height: 18px;
  letter-spacing: 0;
  margin-top: 15px;
  width: 308px;
}

.terms-pad-home-layout .frame-176-2 {
  display: flex;
  height: 190px;
  left: 54px;
  position: absolute;
  top: 84px;
  width: 659px;
}

.terms-pad-home-layout .terms-conditions-5 {
  height: 180px;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 10px;
  width: 462px;
}
@media screen and (max-width: 767px) {
  .screen.terms-pad-home-layout { 
    display: none;
   }
  .screen.terms-desktop-home-layout { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .screen.terms-desktop-home-layout { 
    display: none;
   }
  .screen.terms-mobile-home-layout { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.terms-pad-home-layout { 
    display: none;
   }
  .screen.terms-mobile-home-layout { 
    display: none;
   }
}