@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .min-style {
    @apply min-w-[360px] pad:min-w-[1080px] desktop:min-w-[1920px] min-h-[640px] pad:min-h-[768px] desktop:min-h-[1080px];
  }
}

:root {
  --vh: 100%;
}

html {
  min-width: 360px;
  min-height: 640px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 1.25rem;
  font-weight: 400;
  font-feature-settings: "pnum" on, "lnum" on;
  background-color: rgba(237, 237, 237, 1);
  color: rgba(25, 25, 25, 1);
  overflow-y: auto;
}

/* @media (min-width: 1080px) {
  body {
    scrollbar-width: none; 파이어폭스
  }
  body::-webkit-scrollbar {
    display: none; 크롬, 사파리, 오페라, 엣지
  }
} */

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
}
